[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
wordcloud = "*"
bs4 = "*"
requests = "*"
seaborn = "*"
scikit-learn = "*"
scrapy = "*"
imbalanced-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
